.remark-slide-content .large {
  font-size:28px;
}

.remark-slide-content .xlarge {
  font-size:36px;
}

.remark-slide-content .small {
  font-size: 16px;
}

.remark-slide-content .xsmall {
  font-size: 12px;
}
